《B超影像三维重构及立体定位与扫描系统》
技术说明文档
2026.1.24
一、功能需求确认
表1.功能需求表
功能模块
功能点
具体内容
图像采集与处理功能
B超图像成像
显示内部组织结构高分辨率灰度图像
采集参数配置
采集路径（采集点）设定，手动规划自定义采集区域
采集层高（步长），可设定Z方向采集步长
层数（图像数）设定，Z方向移动步长数量
采集流程控制
超声头移动一次后停留0.3秒再采集图像，避免图像模糊
图像操作功能
图像本地存储、图像读取，查看图像数据
运动控制功能
三维精准移动功能
9轴移动控制及显示（X/Y/Z轴平移+A/B/C轴旋转），支持手柄手动操纵和计算机控制两种模式
位置校准模式
1.水下对焦：电机移动至 X/Y/Z 治疗中心点绝对位置2.上升平置：电机移动至传感器零位
参数存储
保存当前电机绝对位置坐标及X/Y/Z方向的位置补差值，功能可以进行隐藏，以规避用户误触风险，隐藏后不影响系统核心流程运行
肿瘤定位与三维重构功能
肿瘤边界标定
手动绘制肿瘤边界标定，可通过鼠标拖拽操作精确勾勒病灶轮廓
三维图像生成
生成内部结构三维图像及肿瘤三维图像
多种治疗方案功能
治疗执行（分段执行）
支持将大体积病灶分为多个治疗段，分段依次消融，每段治疗后评估消融效果
线治疗
1.可设置治疗行距、点疗时长2.自动生成 S 形扫描线段，未治疗线段为蓝色，已治疗为黄色3.支持线段编辑，避免线段过密或过疏4.自动计算治疗总时长
点治疗
1.可设置治疗焦斑半径、点疗时长2.自动生成肿瘤区域内圆圈分布，圆圈大小随焦斑半径调整3.治疗时圆圈向外扩散，实心黄色表示治疗完成4.支持多肿瘤区域逐个治疗，未圈肿瘤图像自动跳过
呼吸跟随治疗
1.支持生成呼吸跟随框，实时采集并显示呼吸状态2.通过灰度图转换、边缘提取计算呼吸质心，电机同步跟随质心变化3.仅在呼吸框内灰度值大于阈值时计算质心，确保跟随准确性
治疗控制
支持治疗暂停、结束，实时显示治疗位置坐标、能量输出功率、治疗时间等关键参数状态实时反馈治疗进度
治疗方案评估
治疗前生成治疗方案评估报告，支持疗效初步评估
数据管理功能
患者信息
支持患者基本信息（姓名、年龄、ID号、诊断结果等）录入、查询、修改、删除等操作
治疗数据
自动记录每次治疗的完整参数（能量、时间、路径、剂量等），支持按患者ID、治疗日期、病灶类型等多维度查询
影像数据
超声图像、三维重建模型等数据按患者ID分类存储，
生成治疗报告
生成标准化治疗报告，包含患者信息、病灶信息、治疗方案、治疗参数等内容
设备管理功能
设备运行状态
实时监控电源系统状态（电压、电流、功率），水循环系统状态（流量、压力），运动系统状态，功率输出状态
实时监控超声图像质量（亮度、对比度、清晰度），确保成像质量稳定
实时显示水温、进水压力、换水状态、加热状态、出水流量、水箱水位等参数，异常时自动报警
实时监测换能器工作温度、振动频率、能量转换效率等
实时监控电机运行状态（转速、位置精度、负载），导轨润滑状态，机械部件温度，确保运动系统稳定可靠
实时监测能量发生器输出功率、聚焦精度、治疗时间累计，确保治疗参数准确性
二、系统运行流程
界面以三个显示屏为基准设计。
1 屏一：设备监控
左侧设备实时状态监控，在操纵摇杆移动B超、探头的过程中，模拟各物理部件角度。右侧各部分显示当前物理设备状态，参数可根据实际情况调整。
2 屏二：治疗方案
（1）图像通道采集列表
控制摇杆，使B超头移动到与患者合适位置（移动过程中可以观看屏一：设备监控中设备的角度与位置）。点击“新增路径”后生成采集路径，表示当前B超机扫描的人体区域段。
（2）图像采集
选中“图像通道采集列表”中具体的通道，如通道1。设置图像采集层数、步长，点击“图像采集”后显示采集图片。左侧图片表示当前对应的采集路径，右侧图片表示图像采集（待治疗层）。
（3）圈画病灶区
在右侧图像中可圈画病灶区域，拖拽显示下一张图片，依次圈画病灶区域至扫描的最后一张。
（4）设置治疗方案
选择直接治疗/分段治疗。选择点治疗/线治疗，并设置治疗参数。设置治疗功率，勾选呼吸跟随状态。
（5）生成方案评估
点击“生成方案评估”，显示当前方案评估内容。医生结合具体情况判断该方案是否合理。
（6）保存治疗方案
点击“预览”，得到当前治疗方案简述信息，点击弹出治疗方案详细信息框，点击“保存”，看到提示“添加成功”代表已经将当前方案保存，在治疗时可选择不同治疗方案。
（7）选中采集通道2，重复步骤1~6。以此类推，直至所有病灶区都已设置治疗方案。
3 屏三：治疗
（1）选择治疗方案
点击下拉框选择已经保存的治疗方案。
（2）开始治疗
点击开始治疗后，按照预定的治疗方案进行治疗，下方可看到当前治疗进度。
（3）暂停/终止治疗
点击开始治疗后，按钮会转换成终止治疗和暂停治疗两个选项。若点击“终止治疗”，则治疗强制结束，无法恢复治疗进程。
若点击“暂停治疗”，治疗暂停并保存当前治疗进程，按钮变成“继续治疗”，点击“继续治疗”，可从暂停位置继续执行治疗。
若不终止/暂停治疗，依照方案治疗结束后会自动终止。
（4）重复步骤1~3，直至所有治疗方案均治疗完毕
4 隐藏界面：数据管理
4.1 患者信息
点击左下角“添加”，可增加新患者档案。
